<div class="flex flex-col w-96" *transloco="let t; read: 'selection-bar'">
  <label for="workplace" class="text-gray-700 font-medium text-sm flex items-center">
    <mat-icon class="mr-1" style="font-size:1.125rem;width:1.125rem;height:1.125rem">work</mat-icon>
    {{ t('workplace') }}
  </label>

  <mat-form-field appearance="outline" class="custom-combobox">
    <mat-progress-spinner
      class="ml-2 mr-2"
      matPrefix
      *ngIf="isLoading"
      mode="indeterminate"
      diameter="20"
    ></mat-progress-spinner>
    <input
      type="text"
      [placeholder]="isLoading ? t('workplace-loading') : isDisabled ? t('workplace-disabled') : t('workplace-placeholder')"
      matInput
      [formControl]="selectWorkplacesControl"
      [matAutocomplete]="autoWorkplace"
      [disabled]="isDisabled"
    />
    <mat-icon
      matSuffix
      *ngIf="selectWorkplacesControl.value"
      (click)="clearWorkplaceSelection($event)"
      class="cursor-pointer text-gray-500 hover:text-gray-700"
      >close</mat-icon
    >
  </mat-form-field>

  <mat-autocomplete
    #autoWorkplace="matAutocomplete"
    [displayWith]="displayFnWorkplace"
    (optionSelected)="onWorkplaceOptionSelected($event)"
  >
    <mat-option *ngFor="let option of filteredWorkplaces$ | async" [value]="option">
      <div class="option-content">
        <div>{{ option.id }}</div>
        <div class="workplace-description">{{ option.name }}</div>
      </div>
    </mat-option>
  </mat-autocomplete>
</div>
