<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <img src="/assets/tdm-logo.svg" width="145" height="20" alt="TDM Logo" />

  <mat-form-field>
    <mat-label for="username">Username</mat-label>
    <input matInput formControlName="userName" style="text-transform: uppercase" />
    <mat-error *ngIf="form.controls['userName'].hasError('required')">
      Username is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="password">Password</mat-label>
    <input matInput [type]="passwordFieldType" formControlName="password" autocomplete="off" />
    <button matSuffix mat-icon-button type="button" (click)="togglePasswordVisibility()">
      <mat-icon
        *ngIf="form.controls['password'].value !== '' && passwordFieldType === 'text'"
        fontIcon="visibility_off"
      ></mat-icon>
      <mat-icon
        *ngIf="form.controls['password'].value !== '' && passwordFieldType === 'password'"
        fontIcon="visibility"
      ></mat-icon>
    </button>
    <mat-error *ngIf="form.controls['password'].hasError('required')">
      Password is required
    </mat-error>
  </mat-form-field>

  <mat-error *ngIf="error">{{ error }}</mat-error>

  <button type="submit" [disabled]="!form.valid || isLoading" mat-flat-button color="primary">
    Login
    <mat-icon *ngIf="isLoading">
      <mat-spinner color="primary" diameter="18"></mat-spinner>
    </mat-icon>
  </button>
</form>
