<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <allowedServerVariables>
        <add name="HTTP_X_FORWARDED_HOST" />
        <add name="HTTP_X_FORWARDED_PROTO" />
      </allowedServerVariables>
      <rules>
        <!-- Reverse Proxy: Forward /tdmapi requests to WSAPI server -->
        <rule name="WSAPI Proxy" stopProcessing="true">
          <match url="^tdmapi/(.*)" />
          <action type="Rewrite" url="http://pw-gkyr1t3:8080/tdmapi/{R:1}" />
        </rule>
        <!-- Angular Routes: Handle SPA routing -->
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/test-ack/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
