<div class="flex flex-col w-96" *transloco="let t; read: 'selection-bar'">
  <label for="costunit" class="text-gray-700 font-medium mb-1 flex items-center">
    <mat-icon class="mr-2">factory</mat-icon>
    {{ t('cost-unit') }}
  </label>

  <mat-form-field appearance="outline" class="custom-combobox">
    <mat-progress-spinner
      class="ml-2 mr-2"
      matPrefix
      *ngIf="isLoading"
      mode="indeterminate"
      diameter="20"
    ></mat-progress-spinner>
    <input
      type="text"
      [placeholder]="isLoading ? t('cost-unit-loading') : t('cost-unit-placeholder')"
      matInput
      [formControl]="selectCostUnitsControl"
      [matAutocomplete]="autoCostUnit"
    />
    <mat-icon
      matSuffix
      *ngIf="selectCostUnitsControl.value"
      (click)="clearCostUnitSelection($event)"
      class="cursor-pointer text-gray-500 hover:text-gray-700"
      >close</mat-icon
    >
  </mat-form-field>

  <mat-autocomplete
    #autoCostUnit="matAutocomplete"
    [displayWith]="displayFnCostUnit"
    (optionSelected)="onCostUnitOptionSelected($event)"
  >
    <mat-option *ngFor="let option of filteredCostUnits$ | async" [value]="option">
      <div class="option-content-costunit">
        <div class="costunit-icon">
          <mat-icon>business</mat-icon>
        </div>
        <div class="option-text">
          <div>{{ option.id }}</div>
          <div class="option-name">{{ option.name }}</div>
        </div>
      </div>
    </mat-option>
  </mat-autocomplete>
</div>
