<div
  class="selection-bar"
  [class.selection-bar--collapsed]="collapsed"
  *transloco="let t; read: 'selection-bar'"
>
  <!-- Collapsed: compact summary -->
  @if (collapsed) {
    <div class="collapsed-bar" (click)="toggleCollapsed()">
      <div class="collapse-toggle" (click)="toggleCollapsed(); $event.stopPropagation()">
        <mat-icon>chevron_right</mat-icon>
      </div>
      <div class="collapsed-summary">
        <mat-icon class="collapsed-icon">business</mat-icon>
        <span class="collapsed-label">{{ costUnitDisplay }}</span>
        <mat-icon class="collapsed-arrow">arrow_forward</mat-icon>
        <mat-icon class="collapsed-icon">folder</mat-icon>
        <span class="collapsed-label">{{ workplaceDisplay }}</span>
      </div>
    </div>
  }

  <!-- Expanded: full selectors (always in DOM to preserve state) -->
  <div class="expanded-bar" [class.expanded-bar--hidden]="collapsed">
    @if (canCollapse) {
      <div class="collapse-toggle" (click)="toggleCollapsed()">
        <mat-icon>expand_less</mat-icon>
      </div>
    }

    <div class="selectors-row">
      <app-costunit-selector
        [initialCostUnit]="initialCostUnit"
        (costUnitSelected)="onCostUnitSelected($event)"
      ></app-costunit-selector>

      <div class="separator">
        <img class="arrow" src="assets/icons/arrow-right.svg" alt="arrow right" />
      </div>

      <app-workplace-selector
        [selectedCostUnit]="selectedCostUnit"
        [initialWorkplace]="initialWorkplace"
        (workplaceSelected)="onWorkplaceSelected($event)"
      ></app-workplace-selector>
    </div>
  </div>
</div>
